{% extends 'base.html' %}
{% load static %}

 {% block css %}
 <link rel="stylesheet" href="{% static 'css/billing/billing.css' %}">
{% endblock css %}

{% block HomeBilling %}
<div class="homeSection">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-1">
            <div class="float-start">
                <button class="btn text-light  px-4 py-3 bg-success"><i class="fa-solid fa-gauge-circle-plus fa-sm"></i> Dashboard</button>
                <button class="btn btn-primary  px-4 py-3">Button 2</button>
                <button class="btn btn-primary  px-4 py-3">Button 3</button>
                <button class="btn bg-white  px-4 py-3">Button 4</button>
                <button class="btn bg-danger text-light   px-4 py-3">Button 5</button>
            </div>
        </div>
       
        <div class="col-md-4  mt-1">
            <div class="float-end d-flex justify-content-end">
                <button class="btn btn-secondary p-3">Button A</button>
                <button class="btn btn-secondary">Button B</button>
            </div>
        </div>
    </div>
</div>


</div>

{% endblock HomeBilling %}