{% extends 'base.html' %}
{% load static %}

 {% block css %}
 <link rel="stylesheet"  type="text/css"  href="{% static 'css/billing/billing.css' %}">
{% endblock css %}

{% block HomeBilling %}

<div class="homeSection  ">
  <div class="container-fluid"  style="height: 9%;">
     <div class="row">
        <div class="col-md-8 mt-1">
            <div class="float-start">
                <a href="{% url 'home' %}"><button class="btn text-light  px-4 py-3 bg-success "><i class="fa-solid fa-gauge  mr-1"></i>Dashboard</button></a>
                <button class="btn btn-primary  px-4 py-3"><i class="fa-solid fa-hand-point-up mr-1"></i>Order</button>
                <button class="btn btn-primary  px-4 py-3"><i class="fa-solid fa-circle-user mr-1"></i>Customer</button>
                <button class="btn bg-white  px-4 py-3"><i class="fa-solid fa-truck mr-1"></i>Order Type</button>
                <button class="btn bg-danger text-light px-4 py-3" onclick="resetPage()">Reset</button>

            </div>
        </div>
       
        <div class="col-md-4  mt-1">
            <div class="float-end d-flex justify-content-end">
                <button class="btn bg-white px-4 py-3 btn-list-view mr-1 active"> <i class="fa-solid fa-list mr-1 "></i>List View</button>
                <button class="btn bg-white px-4 py-3 btn-grid-view "><i class="fa-solid fa-table-cells mr-1 "></i>Grid View</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="height: 91%;">
   <div class="row" >
    <div class="col-md-6  mt-1 " style="height: 680px;">
        <div class="h-100 w-100">
        <section class="bg-white p-1 rounded w-100 " style="height: 680px;">
            <div class="firstDiv" >
          
                <div class="commentdiv ">
                    <span class=""><i class="fa-solid fa-comment"> &nbsp;</i>Comments</span>
            
                
                 </div>
                <div class="coupendiv">
                    <span class=""><i class="fa-solid fa-tag">&nbsp;</i>Coupens</span>
                </div>
             
             </div>
   <div class="tableRap w-100 bg-success" style="height: 70%;overflow-y: scroll;">
        <table class="w-100 mt-1  tablescontent" style="height: 400px ;">
            <thead>
                <tr style="border: 2px solid rgb(216, 216, 216);">
                    <th  class="text-center w-50 border-right ">Product</th>
                    <th  class="text-center w-25 border-right">Quantity</th>
                    <th  class="text-center w-25">Price</th>
                </tr>
                 </thead>
                 <tbody>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>   <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
                <tr >
                    <td >Tomato</td>
                    
                    
                </tr>
            </tbody>
           
        </table>
    </div>
       
            <div class="amountDivRap w-100" style="height:24% ;">
                <table class="w-100 rounded" style="height: 90px;">
                <tfoot   style="border: 1px solid rgb(195, 194, 194);">
                    <tr>
                        <td class=" custom-border">Customer</td>
                        <td class="custom-border">Sub Total</td>
                        <td style="width: 170px">Rs</td>
                    </tr>
                    <tr>
                        <td class="custom-border">Order Type</td>
                        <td class="custom-border">Discount Rs</td>
                        <td> Rs</td>
                        
                    </tr>
                    <tr>
                        <td class="custom-border table-success "></td>
                        <td class="custom-border table-success font-weight-bold">Total</td>
                        <td class="table-success ">Rs</td>
                    </tr>
                    
                </tfoot>
            
        </table>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
              <div class="col bg-success text-white py-3 btn"><i class="fa-brands fa-alipay">&nbsp;</i>Pay</div>
              <div class="col bg-primary text-white py-3 btn"><i class="fa-solid fa-pause">&nbsp;</i>Hold</div>
              <div class="col bg-white py-3 btn"><i class="fa-solid fa-percent">&nbsp;</i>Discount</div>
              <div class="col bg-danger text-white py-3 btn"><i class="fa-solid fa-trash">&nbsp;</i>Void</div>
            </div>
          </div>
        </div>    
    </section>
  
        </div>
    </div>

       
    
            <div class="col-md-6 bg-white mt-1 h-100" >
                <div class="h-100 w-100">
                <section class="" style="height: 680px;">
                    <div class="searchBar">
                            <div class="searchdiv " id="searchdiv" data-product-name="product-name">
                                <span ><i class="fa-solid fa-magnifying-glass"></i></span>
                            </div>
                            <!-- #.......................modal....... -->
                            <div class="modal " id="modal" > 

                                <div class="modal-content modal-dialog  modal-dialog-centered">
                                <div id="closeModal" class="btn-close"  >
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search Products" >
                                </div>
                            
                                <div class="result-container">
                            
                                </div>
                                </div>
                            </div>
                            

                     
                        <div class="gridDiv">
                            <span class=""><i class="fa-solid fa-barcode"></i></span>
                        </div>

                    </div>
                    <div class=" parentproduct">
                        <div class="productDiv">
                            {% for category in categories %}
                                <div data-category-name='{{category.Namecategory}}' class="category-item">
                                    {% if category.Imagecategory %}
                                        <div class="image-container">
                                            <img src="{{ category.Imagecategory.url }}" alt="{{ category.Namecategory }} Image" height="120px" width="134px"   >
                                            <div class="categoryName">
                                            <p class="btn font-weight-bold">{{ category.Namecategory }}</p>
                                           </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="product-list parent-listin" data-view="grid">
                        <div class="listin card text-center">
                            <img src="" alt="" class="img-product">
                            <span id="categoryName"></span>
                            <span id="sellingAmountDetails">Rs:-</span>
                            <span id="quantityDetails">Quantity:-</span>
                            
                        </div>
                    </div>

                
                 </section>

             </div>
            </div>
        </div>
    </div>
  
</div>
<script>
    function resetPage() {
        window.location.reload(); // Reloads the page
    }
  
    </script>
    <script src="{% static 'js/bill.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    
{% endblock HomeBilling %}