
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito&display=swap');


.homeSection{
     
        background: #E4E9F7;
        height: 100%;
      
       
   
     
}
.firstDiv{
        /* border-radius: 5PX; */
        margin-left: 1px;
        background-color: white;
        width: 100%;
        height: 6%;
        margin-top: 5px;
        display: flex;
        border: 2px solid rgb(192, 192, 192);
        
        

}

.commentdiv{
   width: 150px;
   margin-top: 0px;
   background-color: #cccccc;
   border-right: 1px solid rgb(192, 192, 192);
   align-items: center;
   justify-content: center; 
   
   display: flex;
  
   
   
  
}

.tableRap::-webkit-scrollbar {
        width: 10px; /* Set the width of the scrollbar */
    }

    /* Track (the area where the scrollbar moves) */
    .tableRap::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the track */
    }

    /* Thumb (the draggable part of the scrollbar) */
    .tableRap::-webkit-scrollbar-thumb {
        background: #bbbbbb; /* Color of the thumb */
        border-radius: 5px; /* Rounded corners */
    }

    /* On hover, the thumb color */
    .tableRap::-webkit-scrollbar-thumb:hover {
        background:  rgb(192, 192, 192)
    }

    /* Custom scrollbar for Firefox */
    .tableRap {
        scrollbar-width: thin; /* Set the width of the scrollbar */
        scrollbar-color: #d6d6d6 #f1f1f1; /* Thumb and track colors */
    }

    /* Your existing styles for the .tableRap container */
    .tableRap {
        height: 70%;
        overflow-y: scroll;
    }



.coupendiv {
        border-right: 2px solid rgb(192, 192, 192);
        background-color: #cccccc;
        width: 150px;
        display: flex;
        
        justify-content: center; 
        align-items: center;
}
.custom-border {
        border-right: 1px solid #bebcbc
}

/* .couponsdiv p{
        border-right: 6px solid rgb(150, 150, 150);
} */
.searchBar {
        border: 2px solid rgb(192, 192, 192);
        margin-left: 1px;
        background-color: white;
        width: 100%;
        height: 41px;
        margin-top: 5px;
        display: flex;
}
.searchdiv{
        width: 50px;
        height: 40px;
        margin-top: 0px;
        background-color: #cccccc;
        border-right: 1px solid rgb(192, 192, 192);
        align-items: center;
        justify-content: center; 
        cursor: pointer;
        display: flex;
       
}
.gridDiv {
        border-right: 2px solid rgb(192, 192, 192);
        background-color: #cccccc;
        width: 50px;
        display: flex;
        
        justify-content: center; 
        align-items: center;
}


.parentproduct {
        border: solid black 1px;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 131px;
        margin-top: 5px;
    }

    .parentproduct::-webkit-scrollbar {
        width: 5px; /* Set the width of the scrollbar */
        height: 10px;
    }
    
    /* Track (the area where the scrollbar moves) */
    .parentproduct::-webkit-scrollbar-track {
        background: #f3f3f3; /* Color of the track */
    }
    
    /* Thumb (the draggable part of the scrollbar) */
    .parentproduct::-webkit-scrollbar-thumb {
        background: #d5d0d0; /* Color of the thumb */
        border-radius: 5px; /* Rounded corners */
    }
    
    /* On hover, the thumb color */
    .parentproduct::-webkit-scrollbar-thumb:hover {
        background:  rgb(192, 192, 192)
    }
    
    /* Custom scrollbar for Firefox */
    .parentproduct {
        scrollbar-width: none; /* Set the width of the scrollbar */
        scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
    }




    
    .productDiv {
        display: flex;
        /* Center items horizontally */
        height: 120px;
        padding: 0 !important;
        
    }
    
    .category-item {
        text-align: center; /* Center the text within each category item */
        /* Add margin between category items */
        display: flex;
       
    }
    
    .image-container {
        position: relative;
        /* display: flex;   */
    }
    
    .image-container img {
        display: flex;
        margin: 0 auto; /* Center the image horizontally */
    }
    
    
    .image-container .categoryNmae {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        background-color:  rgb(255, 255, 255 , 0.7);
        width: 134px;
        height: 60px;
    }

/* .listin  {
        background-color: #e1e0e0;
        width: 165px;
        height: 10px;
       
    }
     */
.parent-listin{
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 505px;
    overflow-x: scroll ;
     /* Allow items to wrap to the next row */
    /* gap: 5px;  */
    flex-wrap: wrap; 
    border: 1px solid #ccc;

    
}

.img-product{
   
    max-width: 100%; /* Ensure the image doesn't exceed the width of the listin */
    max-height: 80px; /* Adjust the max height as needed */
    /* margin: 0 auto; Center the image horizontally */
}
.listin {
    width:139px;
    background-color: #e1e0e0;
    height: 158px;
    font-family: 'Nunito', sans-serif;
    margin-top: 5px;
    
   
}
.listin.list-view {
    height: 90px; /* Adjust the height as needed */
}
#quantityDetails {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    
}
#categoryName{
    font-size: 16px;
    font-weight:bold;
}
#sellingAmountDetails{
    font-size: 15px;

}

/* modalserach icon */

.searchdiv {
    cursor: pointer;
}

/* .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
   
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     
} */

   .modal {
    display: none;
    position: fixed;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 550px;
    height: 400px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 2;
    /* justify-content: center;
    align-items: center; */
}    

.modal-content {
    background-color: rgb(245, 245, 245);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    z-index: 2; /
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
