.homeSection{
     
        position: relative;
        background: #E4E9F7;
        min-height: 100vh;
        top: 0;
        
       
        transition: all 0.5s ease;
        z-index: 2;
}
.firstDiv{
        border-radius: 5PX;
        margin-left: 1px;
        background-color: white;
        width: 100%;
        height: auto;
        margin-top: 5px;
        display: flex;
        border: 2px solid rgb(192, 192, 192);
        
        

}

.commentdiv{
   width: 150px;
   height: 40px;
   margin-top: 0px;
   background-color: #cccccc;
   border-right: 1px solid rgb(192, 192, 192);
   align-items: center;
   justify-content: center; 
   
   display: flex;
  
   
   
  
}

.coupendiv {
        border-right: 2px solid rgb(192, 192, 192);
        background-color: #cccccc;
        width: 150px;
        display: flex;
        
        justify-content: center; 
        align-items: center;
}
.custom-border {
        border-right: 1px solid #bebcbc
}

/* .couponsdiv p{
        border-right: 6px solid rgb(150, 150, 150);
} */