{% extends 'base.html' %}
{% load static %}

 {% block css %}
   
{% endblock css %}

{% block content %}
<div class="container-flud">
  <nav class="navbar navbar-light bg-light shadow-sm p-3 mb-1 bg-light rounded border-bottom-5">
    <span class="navbar-brand mb-0 h1">Attribute Category</span>
  </nav>
</div>
<div class="container bg-white mt-5 w-75" style="background-image: linear-gradient(to right, #E4E9F7, #ffffff);">

  <div class="row">
    <div class="col-md-6">
  <form action="" method="POST" class="p-3">
    {% csrf_token %}
    <div class="form-group">
      <label for="">Attribute</label>
    <input class="form-control form-control-md" name="attributeName" type="text" placeholder="Attribute Name" required>
  </div>

  <label for="">Product</label>
  <select name="ProductValue" id="" class="custom-select  ">
    {% for x in product_Data %}
    <option  value="{{x.id}}">{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>

<div class="form-group ">
  <label for="">Quantity</label>
  <input class="form-control form-control-md " name="QuantityValue" type="number" placeholder="Quantity" required>
  </div>

  <label for="">Add On</label>
  <select name="AddOnValue" id="" class="custom-select  ">
    {% for x in product_Data %}
    <option  value="{{x.id}}">{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>

  <input type="submit" class="btn btn-primary " value="submit">
  </div>
<div class="col-md-6 mt-2">
  <div class="form-group">
    <label for="">Price</label>
    <input class="form-control form-control-md  " name="PriceValue" type="number" placeholder="Price" required>
    </div>


  <label for="">Add On Quantity</label>
  <select name="AdQuantityValue" id="" class="custom-select  ">
    {% for x in product_Data %}
    <option  value="{{x.id}}">{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>
      
  <label for="">Extra</label>
  <select name="ExtraValue" id="" class="custom-select  ">
    {% for x in product_Data %}
    <option  value="{{x.id}}">{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>

  <div class="form-group">
    <label for="">Extra Quantity</label>
  <input class="form-control form-control-md" name="ExtraQunatitytValue" type="text" placeholder="Extra Quantity" required>
</div>

</div>
  
  </form>

</div>
</div>
{% endblock %}