{% extends 'base.html' %}
{% load static %}

 {% block css %}
   
{% endblock css %}

{% block content %}
<div class="container-flud">
  <nav class="navbar navbar-light bg-light shadow-sm p-3 mb-1 bg-light rounded border-bottom-5">
    <span class="navbar-brand mb-0 h1">Attribute Category</span>
  </nav>
</div>
<div class="container bg-white mt-5 w-75" style="background-image: linear-gradient(to right, #E4E9F7, #ffffff);">

  <div class="row">
    <div class="col-md-6">
  <form action="{% url 'attribute_update' attribute_Data.id %}" method="POST" class="p-3">
    {% csrf_token %}
    <div class="form-group">
      <label for="">Attribute</label>
    <input class="form-control form-control-md" name="attributeName" type="text" placeholder="Attribute Name" required value="{{attribute_Data.attributeName}}">
  </div>

  <label for="">Add Product</label>
  <select name="ProductValue" id="" class="custom-select " value="{{attribute_Data.product}}">
    {% for x in product_Data %}
    <option  value="{{x.id}}"{% if attribute_Data.product.id == x.id %} selected {% endif %}>{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>

<div class="form-group ">
  <label for="">Quantity</label>
  <input class="form-control form-control-md " name="QuantityValue" type="number" placeholder="Quantity" required value="{{attribute_Data.quantity}}">
  </div>

  <label for="">Add On</label>
  <select name="AddOnValue" id="" class="custom-select  " value="{{attribute_Data.add_On}}">
    {% for x in addOn_data %}
    <option  value="{{x.id}}" {% if attribute_Data.add_On.id == x.id %} selected {% endif %}>{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>

  <input type="submit" class="btn btn-primary " value="submit">
  </div>
<div class="col-md-6 mt-2">
  <div class="form-group">
    <label for="">Price</label>
    <input class="form-control form-control-md  " name="PriceValue" type="number" placeholder="Price" required value="{{attribute_Data.price}}">
    </div>


  <!-- <label for="">Add On Quantity</label>
  <select name="AdQuantityValue" id="" class="custom-select  " value="{{attribute_Data.add_on_quantity}}">
    {% for x in product_Data %}
    <option  value="{{x.id}}"{% if attribute_Data.add_on_quantity.id == x.id %} selected {% endif %}>{{x.Product_Name}} </option>
    {% endfor %}
  </select>
  <br><br> -->
  <label for="">Add on Quantity</label>
  <input class="form-control form-control-md  " name="adOnQuantity" type="number" placeholder="Price" required value="{{attribute_Data.add_on_quantity}}">
 

      
  <label for="">Extra</label>
  <select name="ExtraValue" id="" class="custom-select  "  value="{{attribute_Data.extra}}">
    {% for x in product_Data %}
    <option  value="{{x.id}}"{% if attribute_Data.extra.id == x.id %} selected {% endif %}>{{x.Product_Name}}</option>
    {% endfor %}
  </select>
  <br><br>

  <div class="form-group">
    <label for="">Extra Quantity</label>
  <input class="form-control form-control-md" name="ExtraQunatitytValue" type="text" placeholder="Extra Quantity" required value="{{attribute_Data.extra_quantity}}">
</div>

</div>
  
  </form>
</div>
</div>
</div>
{% endblock %}