{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="container-flud">
  <nav class="navbar navbar-light bg-light shadow-sm p-3 mb-1 bg-light rounded border-bottom-5">
      <span class="navbar-brand mb-0 h1">Attribute Category</span>
    </nav>
  </div>
  <a href="{% url 'addattribute' %} " type="button" class="btn btn-primary font-weight-bolder float-right mr-3 mt-2">Add Attribute Category</a>
<div class="container d-flex justify-content-center">
    <table class="table">
        <tr>
            <th>No</th>
            <th>Attribute Name</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Add On</th>
            <th>Add On Quantity</th>
            <th>Extra</th>
            <th>Extra Quantity</th>
            <th colspan="2">Action</th>
        </tr>
        <tbody>
            {% for x in attribute_Data  %}
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.attributeName}}</td>
                <td>{{x.product}}</td>
                <td>{{x.price}}</td>
                <td>{{x.quantity}}</td>
                <td>{{x.add_On}}</td>
                <td>{{x.add_on_quantity}}</td>
                <td>{{x.extra}}</td>
                <td>{{x.extra_quantity}}</td>
                <td><a href="{% url 'attributecategory_delete' x.id  %}" class="btn btn-danger">Delete</a></td>
                <td><a href="{% url 'attributecategory_edit' x.id  %}" class="btn btn-primary">Edit</a></td> 
              </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock content %}
