{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="container-flud">
  <nav class="navbar navbar-light bg-light shadow-sm p-3 mb-1 bg-light rounded border-bottom-5">
      <span class="navbar-brand mb-0 h1">Tax Table</span>
    </nav>
  </div>
  <a href="{% url 'add_tax' %} " type="button" class="btn btn-primary font-weight-bolder float-right mr-3 mt-2">Add Tax</a>
<div class="container d-flex justify-content-center">
    <table class="table">
        <tr>
            <th>No</th>
            <th>Tax Name</th>
            <th>Tax Percentage</th>
            <th colspan="2">Action</th>
        </tr>
        <tbody>
            {% for x in taxdata  %}
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.Taxname}}</td>
                <td>{{x.Taxpercentage }}</td>
                <td><a href="{% url 'taxdelete' x.id  %}" class="btn btn-danger">Delete</a></td>
                <td><a href="{% url 'taxedit' x.id  %}" class="btn btn-primary">Edit</a></td> 
              </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock content %}
