{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="container-flud">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Category Table</span>
    </nav>
  </div>
<div class="container d-flex justify-content-center">
    <table class="table">
        <tr>
            <th>No</th>
            <th>Product </th>
            <th>Category</th>
            <th>Unit</th>
            <th>Variant</th>
            <th>Tax</th>
            <th>Is for Sale</th>
            <th>Product Image</th>
            <th>Product Code</th>
            <th colspan="2">Action</th>
        </tr>
        <tbody>
            {% for x in Product_Data  %}
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.Product_Name}}</td>
                <td>{{x.Category_Fr}}</td>
                <td>{{x.Unit_Fr }}</td>
                <td>
                  {% for y in x.Variant_fr.all %}
                    {{y.attributeName}}
                  {% if y.Variant_fr %}
                  ,
                  {% else %}
                  ,
                  {% endif %}
                  
                {% endfor %}</td>
                <td>{{x.Tax_Fr }}</td>
                <td>{% if x.Is_for_sale %}
                  yes
                  {% else %}
                  No
                  {% endif %}</td>
                <td>{{x.Product_Image }}</td>
                <td>{{x.Product_code}}</td>
                <td><a href="{% url 'product_Delete' x.id  %}" class="btn btn-danger">Delete</a></td>
                <td><a href="{% url 'product_edit' x.id  %}" class="btn btn-primary">Edit</a></td> 
              </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock content %}
