{% extends 'base.html' %}
{% load static %}

 {% block css %}
 <link rel="stylesheet" href=""> 
{% endblock css %}

{% block content %}
<div class="container-flud ">
  <nav class="navbar navbar-light bg-light shadow-sm p-3 mb-1 bg-light rounded border-bottom-5">
    <span class="navbar-brand mb-0 h1">Add Productions Product</span>
  </nav>
</div>


    <div class="container w-50" style="background-image: linear-gradient(to right, #E4E9F7, #ffffff);">
        <div class="row">
            <form action="" method="POST" class="p-3">
              {% csrf_token %}

              <label for="">Product</label>
              <select name="PrdntsPrdct" id="" class="custom-select products">
                {% for x in production_proct_Data %}
                <option  value="{{x.Product_fr.Product_code }}">{{x.Product_fr}}</option>
                {% endfor %}
              </select>
              <br><br>

              <div class="form-group">
                <label for="">Count:</label>
                <input class="form-control form-control" name="QuantityValue" type="number" placeholder="Count" required>
                </div>

                <div class="form-group">
                  <label for="">Manufacture Date </label>
                  <input class="form-control form-control" name="DateValue" type="date" >
                  </div>
          
                  <div class="form-group">
                    <label for="">Expire Date </label>
                    <input class="form-control form-control" name="DateWorth" type="date" >
                    </div>

                    <div class="form-group">
                      <label for="">Price</label>
                      <input class="form-control form-control" name="PricValue" type="number" placeholder="Price" required>
                      </div>

                      <div class="form-group">
                        <label for="">Bar Code </label>
              
                        <input type="checkbox" id="generate_barcode" name="generate_barcode" value="true"><br>
                        <svg id="barcode_canvas"></svg>
                        <button type="button" class="print-btn btn btn-info mt-1" onclick="printSvg()" style="display: none;">Print</button>
                        <input type="hidden" id="barcode" name="barcode" ><br>
              
                        <input id="manufactureCode" class="form-control form-control-lg"  type="text" hidden value="{{manufacture_code}}">
                        <input id="countryCode" class="form-control form-control-lg" type="text" hidden value="{{country_code}}">
                        
                    
                        <!-- Container to display the barcode -->
                        
                        </div>
                      
                      
              <input type="submit" class="btn btn-primary " value="submit">
            </form>
          </div>
      </div>
      
      </div>
 <script type="text/javascript">
// static/js/generateBarcode.js
var generateCheckbox = document.getElementById('generate_barcode');
var barcodeCanvas = document.getElementById("barcode_canvas");
var productInput = document.querySelector('.products');

function printSvg(){
  const svg =document.getElementById('barcode_canvas');
  const printWindow =window.open('','Print');
  printWindow.document.write(svg.outerHTML);
  printWindow.print();

}
generateCheckbox.addEventListener('click',function(){
  if (generateCheckbox.checked){
    var countryCode =document.getElementById('countryCode').value;
    console.log(countryCode)
    var manufactureCode = document.getElementById('manufactureCode').value;
    console.log(manufactureCode)

    var productCode = productInput.value;
    var barcodeValue = document.getElementById('barcode');
    barcodeValue.value = countryCode + manufactureCode + productCode ;

    var barcodeText = barcodeValue.value;
    JsBarcode(barcodeCanvas,barcodeText, {
        formate:"upc",
        displayValue:true
    
    });
    barcodeCanvas.style.display = 'block';
    document.querySelector('.print-btn').style.display = 'block';

  }
  else {
    document.querySelector('.print-btn').style.display = 'none';
    barcodeCanvas.style.display = 'none';
  }


});
</script> 

{% endblock %}