{% extends 'base.html' %}
{% load static %}

 {% block css %}
<link rel="stylesheet" href="{% static 'css/attribute/attribute.css' %}">
{% endblock css %}

{% block content %}
<div class="container-flud">
  <nav class="navbar navbar-light bg-light shadow-sm p-3 mb-1 bg-light rounded border-bottom-5">
    <span class="navbar-brand mb-0 h1">Attribute Form</span>
  </nav>
</div>
<div class="container">
  <div class="row">
  <form action="" method="POST" class="p-3">
    {% csrf_token %}
    <div class="form-group">
      <label for="">Attribute Category</label>
      <select name="atributName" id="" class="custom-select">
        {% for x in attribute_data %}
        <option  value="{{x.id}}">{{x.attributeName}}</option>
        {% endfor %}
      </select>
      <br><br>
      <div class="form-group">
        <label for="">Attribute Name</label>
        <input class="form-control form-control-lg" name="attributname" type="text" placeholder="Attribut name" required>
        </div>
        <label for="Varaint" >Varaint</label>
        <select name="variant" id="variant" class="custom-select">
          <option selected>Select variants</option>
          <option value="size" >size</option>
          <option value="add-on">add-on</option>
          <option value="extra">extra</option>
        </select>
        <br><br>
        <div class="form-group">
          <label for="">Price</label>
          <input class="form-control form-control-lg" name="attributprice" type="number" placeholder="Enter Price" required>
          </div>
      <input type="submit" class="btn btn-primary  " value="submit">
    </form>
  </div>
  </div>
  {% endblock %}  
           
          
