/* Add these CSS styles to make the select fields larger */
.raw-material-select,
.product_input {
    width: 250px; /* Set the width to 100% to make it expand to the container's width */
    padding: 10px; /* Add padding for spacing */
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px; /* Add some border-radius for rounded corners */
}

/* Adjust other styles if needed */
.form-div {
    width: 45%;
    height: auto;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #E4E9F7, #ffffff);
}

.raw-material-measurement {
    /* Your styles here */
    /* For example, set the width to 50px */
    border: 1px solid rgb(228, 228, 228);
}

.select-styled {
    padding: 10px;
    border: 1px solid rgb(228, 228, 228);
    /* Other styles if needed */
}
